<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home</title>
    </head>
    <body>
       {% extends "template.html" %}
       {% block content %}
       <h1> LTV - Buy 'Til You Die! </h1>
       <p> Demonstration of LTV in Vertex AI </p>
       <form action="demo" method="GET" id="pred_form">
          <p> Click the "Submit" button below to run the model</p>
      </form>
      <button type="submit" form="pred_form" value="Submit">Submit</button>
      {% endblock %}
     </body>
</html>
